spring-boot-thymeleaf-master/properties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="report_message">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="doctype"/>
        <xs:element ref="template"/>
        <xs:element ref="id"/>
        <xs:element ref="content_status"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doctype" type="xs:integer"/>
  <xs:element name="template" type="xs:integer"/>
  <xs:element name="id" type="xs:string"/>
  <xs:element name="content_status">
    <xs:complexType/>
  </xs:element>
</xs:schema>
